.suggestionsDropdown {
  display: none;
}

.suggestionsDropdown-visible {
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 100%;
  margin-top: -48px;
  display: block;
  border: 1px solid $grayLight;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.singleSuggestion {
  height: 40px;
  color: $primaryDark;
  padding-left: $padding-10;
  line-height: 40px;
  border-bottom: 1px solid $grayLight;

  &:hover {
    background-color: $primary;
    cursor: pointer;
  }
}

.singleSuggestion:last-of-type {
  border-bottom: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
