.forgotPasswordSection {
  display: flex;
  width: 540px;
  margin: 100px auto 0 auto;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.passwordResetSuccessContainer {
  margin-bottom: $margin-20;
}

.successPasswordResetMessage {
  font-size: 14px;
  color: $primary;
}
