.spinnerContainer {
  position: relative;
  top: 75px;
  height: calc(100vh - 75px);
  width: 100%;

  @include media-breakpoint-down(sm) {
    top: 55px;
  }
}

.lightOverlay {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 11;
}

.spinnerIconContainer {
  z-index: 12;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinnerStyle {
  color: $primary;
}
